<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      * { background-color:#323232; color:#FFFFFF }
      header { height:60px; }
      header * { position:absolute; }
      header .heart { left:232px; top:23px; font-size:16px; color:#DD0000 }
      header .heroku { left:257px; top:4px; }
    </style>
  </head>
  <header>
    <img class="td" src="/td_logo.jpg"/>
    <span class="heart">&#x2764;</span>
    <img class="heroku" src="/heroku_logo.png"/>
  </header>
  <%=yield%>
</html>
